.paragrafo {
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width: 980px;
}

.secao-topo {
    background-color: #afddfb;
}

.topo img {
    width: 150px;
}

.paragrafo-topo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.link-top {
    color: #1d1d1d;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 2px solid #1d1d1d;
}



.secao-banner {
    padding-top: 0;
    margin-top: 50px;
}



span {
    font-weight: bold;
}



h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

h2 {
    font-weight: normal;
    color: #1c81c0;
    margin-top: 0;
}

.imagem {
    width: 450px;
}

.texto-azul {
    color: #1d80c1;
}



.servicos, .contato {
    background-color: #1d80c1;
}

h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.paragrafo-servicos {
    color: #ffffff;
    line-height: 42px;
    width: 700px;
    font-size: 22px;
    text-align: center;
}

.texto-amarelo {
    color: #fff81b;
}

.lista-servicos {
    width: 135px;
    margin: 40px auto 40px;
}

.item-lista-servicos {
    font-size: 22px;
    line-height: 42px;
    text-align: left;
    color: #fff;
}


.paragrafo-contato {
    color: #fff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lista-contato {
    width: 210px;
    list-style: none;
    margin: 40px auto 40px; 
}

.item-lista-contato {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}l

.link-contato {
    background-color: #1d80c1;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
}